@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

@font-face {
    font-family: 'Raleway Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.googleapis.com/css?family=Raleway) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
    height: auto;
}

body {
    font-size: 100%;
    font-size: 16px;
    font-family: 'Raleway';
    height: auto;
    overflow: scroll;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -9999;
    transform: translateX(-50%) translateY(-50%);
    background: #000;
    background-repeat: no-repeat;
}

.heavy {
    font-weight: 900;
}

.contain {
    display: block;
}

.videoClass {
    width: 100%;
    position: relative;
}

.video {
    width: 100%;
    top: 0;
    z-index: 0;

}

.blueSymbol {
    z-index: 0;
    position: absolute;
    padding-left: 20%;
    width: 36%;
    bottom: -12%;
    left: 0px;
    /*bottom:0px;*/
}

.kropki {
    z-index: 1;
    position: absolute;
    padding-left: 20%;
    width: 61%;
    right: 1%;
    top: 13%;
}

.menuGorne {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 84px;
}

/*ten jasniejszy pasek u gory*/
.belkaGorna {
    z-index: 2;
    position: absolute;
    width: 100%;
    /*background-image: url("img/menuGórne2.png");*/
    /*background-repeat: repeat-x;*/
    /*background-size: cover;*/
}

/*div z logo i nav*/
.baseline {
    display: inline-flex;
    z-index: 3;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-right: 20%;
    padding-left: 20%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logoTop {
    width: 121px;
}

.nav {
    color: #3d3c3d;
    width: 397px;
    margin-top: 21px;
}

.nav li {
    list-style: none;
    display: inline;
    text-align: center;
    /*margin-left: 10px;*/
}

.nav ul {
    margin: 0;
    display: flex;
}

.nav li:first-child {
    width: 126px;
    /*color: #3d3c3d;*/
}

.nav li:nth-child(2) {
    width: 49px;
}

.nav li:nth-child(3) {
    width: 55px;
}

.nav li:nth-child(4) {
    width: 75px;
}

.nav li:nth-child(5) {
    width: 58px;
}

.nav a {
    color: #3d3c3d;
    text-decoration: none;

}

#active {
    color: #009fe4;
    font-weight: bold;
}

.nav a:hover {
    color: #009fe4;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight:900;

}

/*.yellowBackground {*/
/*width: 100%;*/
/*position: relative;*/
/*}*/

.yellowSectionContent {
    position: relative;
    background-color: #fbb900;
    height: 350px;
    width: 100%;
    z-index: 1;
}

.section1Text {
    padding-left: 20%;
    width: 100%;
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
}

.longText {
    position: absolute;
    top: 20%;
    text-align: justify;
    padding-right: 50%;
}

.fajneHaslo {
    /*display: flex;*/
}
.hasloReklamowe{
    width:100%;
}
.kropkiBlue{
    right: 0;
    /* float: right; */
    height: 100%;
    width: 40%;
    background-image: url(img/kropki.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left 110px;

}

.fajneHaslo2 {
    display: flex;
    align-items: baseline;
}

.blue {
    color: #009fe4;
}

h3 {
    /*position: absolute;*/
    font-size: larger;
}

.co {
    display: -webkit-inline-box;
    /* display: inherit; */
    padding-left: 20%;
    position: absolute;
    left: 0;
    top: 15%;
    display: flex;
    align-items: center;
    z-index: 2;

}

.co h3 {
    margin-bottom: 0;
}

.dalej {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:135px;
}
.dalejDiv{
    position: absolute;
    right: 0;
    bottom: 3%;
    margin-right: 20.5%;
}

.elipsy {
    padding-right: 20%;
    padding-left: 20%;
    position: absolute;
    top: 32%;
    bottom: 0;
    margin: auto;
    right: 0;
    left: 0;
    display: flex;
    align-items: flex-start;

}

.elip {
    opacity: 1;
    transform: scale(1, 1);
    /*transition-timing-function: ease-out;*/
    /*transition-duration: 250ms;*/
    /*-webkit-transform: scale(1,1);*/
    /*-webkit-transition-timing-function: ease-out;*/
    /*-webkit-transition-duration: 250ms;*/
    /*-moz-transform: scale(1,1);*/
    /*-moz-transition-timing-function: ease-out;*/
    /*-moz-transition-duration: 250ms;*/
}

.elip:hover {
    opacity: 1;
    transform: scale(1.05, 1.07);
    /*transition-timing-function: ease-out;*/
    /*transition-duration: 250ms;*/
    /*-webkit-transform: scale(1.05,1.07);*/
    /*-webkit-transition-timing-function: ease-out;*/
    /*-webkit-transition-duration: 250ms;*/
    /*-moz-transform: scale(1.05,1.07);*/
    /*-moz-transition-timing-function: ease-out;*/
    /*-moz-transition-duration: 250ms;*/
    /*position: relative;*/
    /*z-index: 99;*/
}

.elip p {
    margin-top: 10%;
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    font-family: 'Open Sans';
    /*font-style:  ;*/
}

#prjektowanieMargin {
    margin-top: 0;
}

.elip img {
    width: 100%;
}

.elipMargin {
    margin-right: 4%;
}

.kropka {
    width: 12px;
    height: 12px;
    margin-right: 7px;
}

.section3 {
    position: relative;
    background-color: #009fe4;
    height: 350px;
    background-image: url(img/zdjecieWtle.png);
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;

}

.backgroundSection3 {
    width: 100%;
    position: relative;
    z-index: 1;
}

.section3Content {
    display: flex;
    align-items: center;
    /* position: relative; */
    width: 100%;
}

.textSection3 {
    padding-top: 1%;
    padding-right: 3%;
    padding-left: 20%;
    width: 54%;
    position: absolute;
    top: 25%;
    bottom: 1px;
    margin: auto;
    /*display: flex;*/
    /*align-items: center;*/
    text-align: justify;
    z-index: 2;
    background-image: url("img/niebieski.png");
}

.textSection3 p {
    font-size: 15px;
}

.zolteKropki {
    position: absolute;
    bottom: 10%;
    /* float: left; */
    left: 0;
    width: 94.5%;
}

.yellow {
    color: #fbb900;
}

.pionoweKropki {
    right: 0;
    position: absolute;
    padding-right: 20%;
    width: 20.51%;
    top: 0;
}
.big{
    font-size:35px;
    padding-bottom: 5px;
}

.dalej2 {
    /*padding-right: 50%;*/
    padding-top: 3%;
    float: right;
    right: 3px;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:130px;
}

.white {
    color: white;
}

.section4 {
    position: relative;

}

.backgroundSection4 {
    width: 100%;
}

.section4Content {
    position: relative;
    width: 100%;
    /*background-color: #fbb900;*/
    /*height: 70%;*/
}

.my {
    align-items: flex-start;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: -7px;

}

.losiu {
    /* flex: 1; */
    height: 100%;
    width: 37.6%;
    margin-right: -4.9%;
    position: relative;
    background-image: url("img/losiu1.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.danka {
    height: 100%;
    /* flex: 1; */
    width: 38.8%;
    margin-right: -4.9%;
    position: relative;
    background-image: url("img/danka.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.stodi {
    height: 100%;
    /* flex: 1; */
    width: 33.41%;
    position: relative;
    background-image: url("img/stodi.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.podpis {
    text-align: center;
    position: absolute;
    bottom: 4%;
    right: 0;
    left: 0;
    transform: scale(1, 1);
}
.podpis:hover{
    transform: scale(1.1, 1.1);
}

.section5 {
    width: 100%;
    height: 350px;
    background-color: #fbb900;
    position: relative;

}

.blueDolny {
    width: 15%;
    height: 100%;
    background-image: url("img/blueSymbolDolny.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
}

.kropkiJasne {
    right: 0;
    /* float: right; */
    height: 100%;
    width: 13%;
    background-image: url(img/kropkiJasne.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left 160px;

}

.kontakt {
    padding-left: 20%;
    padding-right: 0.5%;
}

.kropkiCzarne {

}

.kropkiCzarneImg {
    width: 100%;
}

.opakownie {
    display: flex;
    align-items: baseline;
    width:100%;
    padding-left: 20%;
}
.skontaktuj{
    width:100%

}

.srodkowanieWpionie {
    width: 100%;
    height: 65%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bottom {
    width: 100%;
    padding-right: 20%;
    padding-left: 20%;
    height: 70px;
}

.middleDownLeft {
    float: left;
    line-height: 17px;
    width: 50%;
}

.middleDownRight {
    float: right;
    width: 50%;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.zNami {
    padding-left: 20%;
    padding-bottom: 30px;
    padding-top: 10px;
}

.inline {
    display: flex;
    align-items: center;
    margin-left: 17%;
}

.inline img {
    display: inline;
    height: 22px;
    margin-right: 3%;
    width: 22px;

}

.img p {
    display: inline;
}

p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.rightKropki {
    width: 20%;
    position: relative;
}

.jasneKropki {
    width: 70%;
    position: absolute;
    right: 0;
    top: 40%;
}

.section6 {
    width: 100%;
    height: 43%;
}

#map {
    height: 100%;
    position: relative;
    overflow: hidden;;
}

@media only screen and (max-width: 1100px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .textSection3 p {
        font-size: 13px;
        bottom: 2px;
    }

    .elip img {
        width: 70px;
    }

    .elip p {
        font-size: 9px;
    }

    .elipsy {
        justify-content: space-between;
    }

    .podpis {
        bottom: 2%;
    }
    .yellowSectionContent{
        height: 250px;
    }
    .middleDownRight{
        font-size:19px
    }
    .section5{
        height:270px;
    }
    /*.srodkowanieWpionie{*/
        /*height: 77%;*/
    /*}*/
    .kropkiJasne{
        background-position: left 130px;
    }

.nav{
    width: 386px;
}
    .nav li:first-child {
        width: 123px;
        /*color: #3d3c3d;*/
    }

    .nav li:nth-child(2) {
        width: 46px;
    }

    .nav li:nth-child(3) {
        width: 52px;
    }

    .nav li:nth-child(4) {
        width: 72px;
    }

    .nav li:nth-child(5) {
        width: 55px;
    }
}

@media only screen and (max-width: 900px) {
.longText p{
    font-size: 13px;
}
    .nav{
        width: 375px;
    }
    .nav li:first-child {
        width: 120px;
        /*color: #3d3c3d;*/
    }

    .nav li:nth-child(2) {
        width: 43px;
    }

    .nav li:nth-child(3) {
        width: 49px;
    }

    .nav li:nth-child(4) {
        width: 69px;
    }

    .nav li:nth-child(5) {
        width: 52px;
    }
    .zNami{
        padding-bottom: 20px;
    }
    .zNami p{
        font-size: 13px;

    }
    .middleDownRight {
        font-size: 17px;
    }
    .middleDownLeft{
        font-size: 13px;
    }
}