@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');

@font-face {
    font-family: 'Raleway Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.googleapis.com/css?family=Raleway) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


html {
    height:auto;
}

body {
    font-size: 100%;
    font-size: 16px;
    font-family: 'Raleway';
    height:auto;
    overflow: scroll;
}

.heavy {
    font-weight: 900;
}
.contain{
    display: block;
}

.videoClass {
    width: 100%;
    position: relative;
}

.video {
    width: 100%;
    top: 0;
    z-index: 0;


}

.blueSymbol {
    z-index: 0;
    position: absolute;
    padding-left: 20%;
    width: 36%;
    bottom: -12%;
    left: 0px;
    /*bottom:0px;*/
}
.kropki{
    z-index: 0;
    position: absolute;
    padding-left: 20%;
    width: 61%;
    right: 1%;
    top: 13%;
}

.menuGorne {
    z-index: 1;
    position: relative;
    width: 100%;
}

/*ten jasniejszy pasek u gory*/
.belkaGorna {
    z-index: 2;
    position: absolute;
}

/*div z logo i nav*/
.baseline {
    display: inline-flex;
    z-index: 3;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-right: 20%;
    padding-left: 20%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logoTop {
    width: 13%;
}

.nav {
    color: #3d3c3d;
    width: 397px;
}

.nav li {
    list-style: none;
    display: inline;
    /*margin-left: 10px;*/
}

.nav ul {
    margin: 0;
    display: flex;
}
.nav li:first-child{
    width:126px;
    /*color: #3d3c3d;*/
}
.nav li:nth-child(2) {
    width: 49px;
}
.nav li:nth-child(3) {
    width: 55px;
}
.nav li:nth-child(4) {
    width: 75px;
}
.nav li:nth-child(5) {
    width: 58px;
}

.nav a {
    color: #3d3c3d;
    text-decoration: none;

}

#active {
    color: #009fe4;
    font-weight: bold;
}

.nav a:hover {
    color: #009fe4;
    text-decoration: none;
    font-family: 'Raleway Heavy';

}



/*.yellowBackground {*/
    /*width: 100%;*/
    /*position: relative;*/
/*}*/

.yellowSectionContent {
    position: relative;
    background-color: #fbb900;
    height: 40%;
    width: 100%;
}

.section1Text {
    padding-left: 20%;
    width: 100%;
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
}

.longText {
    text-align: justify;
    padding-right: 60%;
    padding-top: 1%;
}

.fajneHaslo {
    display: flex;
}
.fajneHaslo2{
    display: flex;
    align-items: baseline;
}

.blue {
    color: #009fe4;
}

h3 {
    /*position: absolute;*/
    font-size: larger;
}

.co {
    display: -webkit-inline-box;
    /* display: inherit; */
    padding-left: 20%;
    position: absolute;
    left: 0;
    top: 15%;
    display: flex;
    align-items: center;
    z-index: 2;

}

.co h3 {
    margin-bottom: 0;
}

.dalej {
    padding-right: 20%;
    position: absolute;
    right: 0;
    bottom: 3%;
    cursor: pointer;
}

.elipsy {
    padding-right: 20%;
    padding-left: 20%;
    position: absolute;
    top: 32%;
    bottom: 0;
    margin: auto;
    right: 0;
    left: 0;
    display: flex;
    align-items: flex-start;

}

.elip {

}

.elip p {
    margin-top: 10%;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
}
#prjektowanieMargin{
    margin-top: 0;
}

.elip img {
    width: 100%;
}

.elipMargin {
    margin-right: 4%;
}



.kropka {
    width: 12px;
    height: 12px;
    margin-right: 7px;
}
.section3{
    position: relative;
    background-color: #009fe4;
    height: 40%;
    background-image: url(img/tloZdjecie.png);
    background-size: 100%;
    background-position-y: center;

}
.backgroundSection3{
    width:100%;
    position: relative;
    z-index: 1;
}
.section3Content{
    display: flex;
    align-items: center;
    /* position: relative; */
    width: 100%;
}
.textSection3{
    padding-top: 1%;
    padding-right: 3%;
    padding-left: 20%;
    width: 54%;
    position: absolute;
    top: 25%;
    bottom: 1px;
    margin: auto;
    /*display: flex;*/
    /*align-items: center;*/
    text-align: justify;
    z-index: 2;
    background-image: url("img/niebieski.png");
}
.textSection3 p{
    font-size: 15px;
}
.zolteKropki{
    position: absolute;
    bottom: 10%;
    /* float: left; */
    left: 0;
    width: 94.5%;
}
.yellow{
    color: #fbb900;
}
.dalej2{
    /*padding-right: 50%;*/
    padding-top: 3%;
    float: right;
    right: 3px;
    cursor: pointer;
    z-index: 2;
}
.white{
    color: white;
}


.section4{
    position: relative;

}
.backgroundSection4{
    width:100%;
}
.section4Content{
    position: relative;
    width: 100%;
    /*background-color: #fbb900;*/
    /*height: 70%;*/
}


.my{
    align-items: flex-start;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: -7px;

}
.losiu{
    /* flex: 1; */
    width: 37.6%;
    margin-right: -4.9%;
    position: relative;

}
.danka{
    /* flex: 1; */
    width: 38.8%;
    margin-right: -4.9%;
    position: relative;

}
.stodi{
    /* flex: 1; */
    width: 33.41%;
    position: relative;
}
.section5{
    width:100%;
    height:40%;
    background-color: #fbb900;
    display: inline-flex;

}
.leftSybmol{
    width:20%;
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 4%;
}
.blueDolny{
    width:100%;
    padding-right: 15%;
}
.middle{
    width: 60%;
    margin-top: 3%;
    margin-bottom: 4%;
}
.middleTop{
    width: 100%;
    margin-bottom: 4%;
}
.middleTop h2:first-child{
    /*background-image: url("img/kontaktKropkiCzarne.png");*/
    /*background-repeat: repeat-x;*/
    /*background-position:bottom ;*/
    /*background-position: right;*/
    /*background-size: 90%;*/
}
.middleDownLeft{
width: 50%;
    float: left;
    line-height: 16px;
}
.middleDownLeft p:first-child{
    padding-bottom: 1%;
}
.middleDownRight{
    width:50%;
    float: right;
}
.inline{
    display: flex;
    align-items: center;
    margin-left: 17%;
}
.inline img{
    display: inline;
    height: 22px;
    margin-right: 3%;
    width: 22px;

}
.img p{
    display: inline;
    /*margin-bottom: 0;*/
    /*margin-top: 1rem;*/
}
p{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}


.rightKropki{
    width: 20%;
    position: relative;

}
.jasneKropki{
    width: 70%;
    position: absolute;
   right: 0;
    top: 40%;
}


.section6{
    width:100%;
    height:43%;
}
#map {
    height: 100%;
    position: relative;
    overflow: hidden;;
}


@media only screen and (max-width: 1100px){
    body{
        font-size: 14px;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }

    .textSection3 p {
        font-size: 13px;
        bottom:2px;
    }
    .elip img {
        width: 70px;
    }
    .elip p{
        font-size: 9px;
    }
    .elipsy{
        justify-content: space-between;
    }
}