@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

@font-face {
    font-family: 'Raleway Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.googleapis.com/css?family=Raleway) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
    height: auto;
}

body {
    font-size: 100%;
    font-size: 16px;
    font-family: 'Raleway';
    height: auto;
    overflow: scroll;
}

.menuGorne {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 84px;
}

.firstSection {
    height: 84px;
}

/*ten jasniejszy pasek u gory*/
.belkaGorna {
    z-index: 3;
    position: fixed;

    width: 100%;
    /*background-image: url("img/menuGórne2.png");*/
    /*background-repeat: repeat-x;*/
    /*background-size: cover;*/
}

/*div z logo i nav*/
.baseline {
    display: inline-flex;
    z-index: 3;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-right: 19%;
    padding-left: 19%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logoTop {
    width: 121px;
    cursor: pointer;
    /*transition: all 0.3s ease-in-out;*/
}

.nav {
    color: #3d3c3d;
    /*width: 444px;*/
    margin-top: 21px;
}

.nav li {
    list-style: none;
    display: inline;
    text-align: center;
    /*margin-left: 10px;*/
}

.nav ul {
    margin: 0;
    display: flex;
    width:550px;
    justify-content: space-between;
}

.nav li:first-child {
    width: 126px;
}

.nav li:nth-child(2) {
    width: 49px;
}

.nav li:nth-child(3) {
    width: 55px;
}

.nav li:nth-child(4) {
    width: 80px;
}

.nav li:nth-child(5) {
    width: 62px;
}

.nav li:nth-child(6) {
    width: 44px;
    margin-top: -3px;
}
.nav li:nth-child(7) {
    width: 44px;
    margin-top: -3px;
}

.nav a {
    color: #3d3c3d;
    text-decoration: none;

}

#active {
    color: #009fe4;
    font-weight: 900;
}

.nav a:hover {
    color: black;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 600;

}

.section5 {
    width: 100%;
    height: 350px;
    background-color: #fbb900;
    position: relative;

}

.blueDolny {
    width: 15%;
    height: 100%;
    background-image: url("img/blueSymbolDolny.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
}

.kropkiJasne {
    right: 0;
    /* float: right; */
    height: 100%;
    width: 13%;
    background-image: url(img/kropkiJasne.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left 160px;

}

.kontakt {
    padding-left: 20%;
    padding-right: 0.5%;
}

.kropkiCzarne {

}

.kropkiCzarneImg {
    width: 100%;
}

.opakownie {
    display: flex;
    align-items: baseline;
    width: 100%;
    padding-left: 19%;
}

.skontaktuj {
    width: 100%

}

.srodkowanieWpionie {
    width: 100%;
    height: 65%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bottom {
    width: 100%;
    padding-right: 19%;
    padding-left: 19%;
    height: 70px;
}

.middleDownLeft {
    float: left;
    line-height: 17px;
    width: 50%;
}

.middleDownRight {
    float: right;
    width: 50%;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.zNami {
    padding-left: 19%;
    padding-bottom: 30px;
    padding-top: 10px;
}

.inline {
    display: flex;
    align-items: center;
    margin-left: 17%;
}
.inline p a{
    color: black;
    text-decoration: none;
}

.inline img {
    display: inline;
    height: 30px;
    margin-right: 3%;
    width: 30px;

}

.img p {
    display: inline;
}

p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.rightKropki {
    width: 20%;
    position: relative;
}

.jasneKropki {
    width: 70%;
    position: absolute;
    right: 0;
    top: 40%;
}

.oferta {
    width: 100%;
    padding-left: 19%;
    padding-right: 19%;
    /*height:900px;*/
    /*padding-top: 5%;*/
    /*padding-bottom: 5%;*/
    padding-top: 30px;
    padding-bottom: 30px;
}

.ofer {
    display: flex;
    /*padding-bottom: 5%;*/
    padding-bottom: 40px;
    position: relative;
}

.ofer img {
    padding-right: 30px;
}

.oferImg {

    flex-grow: 1;
}
.size{
    transform: scale(1, 1);
    transition: all 0.5s;
}
.size:hover{
    transform: scale(1.1, 1.1);
    transition: all 0.5s;
}

.opisOferty {

    flex-grow: 3;
    /*height: 129px;*/
    /*min-height: 129px;*/

    overflow: hidden;
}

.opisOferty h4 {
    font-family: "Open", sans-serif;
    font-weight: 900;

}

/*.expand1{*/
/*height: 129px;*/
/*}*/
.opisOferty p {

    font-family: "Myriad Pro", sans-serif;
    text-align: justify;
}

.czytaj {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    /*left: 184px;*/
    padding-bottom: 25px;
    font-family: "Myriad Pro", sans-serif;
}

.less {
    display: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    padding-bottom: 25px;
}

.czytajta {
    display: inline-block;
}

.hidden {
    display: none;
    opacity: 0;
}

.show {
    display: inline;
}

.blueFotoSection {
    position: relative;
    height: 350px;
    width: 100%;
    background-color: #009fe4;
    background-image: url(img/zdjecieWtle.png);
    background-size: cover;
    /*background-position-y: -113px;*/
    background-attachment: fixed;
    overflow: hidden;
}

.blueFotoImg {
    width: 100%;
}

.yellow {
    color: #fbb900;
}

.text {
    position: absolute;
    bottom: 5%;
    padding-left: 19%;
    padding-right: 50%;
    color: white;
    text-align: justify;
}

.section6 {
    position: relative;
    width: 100%;
    height: 350px;
}

#map {
    height: 100%;
    position: relative;
    overflow: hidden;;
}

.heavy {
    font-weight: 900;
}
.section7{
    padding-right: 19%;
    padding-left: 19%;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}
.mobile{
    display: none;
}
.right{
    width: 30%;
    text-align: right;
}
.right img{
    width: 150px;
}
.left{
    width: 80%;
    font-size: 12px;
}

@media only screen and (max-width: 1100px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .yellowSectionContent {
        height: 250px;
    }

    .middleDownRight {
        font-size: 19px
    }

    .section5 {
        height: 270px;
    }

    .kropkiJasne {
        background-position: left 130px;
    }

    .nav li:first-child {
        width: 113px;
    }

    .nav li:nth-child(2) {
        width: 46px;
    }

    .nav li:nth-child(3) {
        width: 52px;
    }

    .nav li:nth-child(4) {
        width: 72px;
    }

    .nav li:nth-child(5) {
        width: 55px;
    }

    .opisOferty {
        /*height: 122px;*/
    }

    .czytaj {
        padding-bottom: 45px;
    }

    .ofer {
        /*padding-bottom: 9%;*/
        padding-bottom: 45px;
    }

    .less {
        display: none;
    }

    .opisOferty {
        /*min-height: 122px;*/
    }
}

@media only screen and (max-width: 900px) {

    .baseline {
        padding-right: 10%;
        padding-left: 10%;
    }

    .blueFotoImg {
        margin-left: -11%;
        width: 110%;
    }

    .text {
        padding-left: 10%;
        bottom: 15%;
    }

    .oferta {
        padding-left: 10%;
        padding-right: 10%;
    }

    .opakownie {
        padding-left: 10%;
    }

    .zNami {
        padding-left: 10%;
    }

    .bottom {

        padding-right: 10%;
        padding-left: 10%;
    }

    .kropkiJasne {
        width: 10%;
    }

    .blueDolny {
        display: none
    }
    .nav ul{
        width: 500px;
    }



    .nav li:first-child {
        width: 106px;
    }

    .nav li:nth-child(2) {
        width: 43px;
    }

    .nav li:nth-child(3) {
        width: 49px;
    }

    .nav li:nth-child(4) {
        width: 69px;
    }

    .nav li:nth-child(5) {
        width: 52px;
    }

    .zNami {
        padding-bottom: 20px;
    }

    .zNami p {
        font-size: 13px;

    }

    .middleDownRight {
        font-size: 17px;
    }

    .middleDownLeft {
        font-size: 13px;
    }

    .czytaj {
        padding-bottom: 35px;
    }

    .ofer {
        /*padding-bottom: 9%;*/
        padding-bottom: 45px;
    }
    .text{
        font-size: 13px;
    }
    .section7{
        padding-right: 10%;
        padding-left: 10%;
        font-size: 13px;
    }




}
@media only screen and (max-width: 700px) {
    /*  ALL TRANSITIONS */
    #cross span:nth-child(1),
    #menuToggle.open #hamburger span:nth-child(2),
    #menuToggle.open #hamburger span:nth-child(1),
    #cross span:nth-child(2),
    #menuToggle.open #hamburger span:nth-child(3),
    #menuToggle.open #cross span:nth-child(2),
    #hamburger span:nth-child(1),
    #hamburger span:nth-child(2),
    #hamburger span:nth-child(3),
    #cross,
    #menuToggle.open #cross span:nth-child(1) {
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -ms-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }


    /*  MENUTOGGLE  */
    .menuToggle_Container {
        /*border: 1px solid red;*/
        /*width: 100%;*/
        /*height: 50px;*/
        /*background: rgba(0,0,0,0.5);*/
        /*float: left;*/
    }
    #menuToggle {
        /*border: 1px solid red;*/
        margin: auto;
        /*left: 0;*/
        right: 5%;
        bottom: 0;
        top: 0;
        width: 32px;
        height: 32px;
        background: transparent;
        cursor: pointer;
        position: absolute;
        /*top: 18px;*/
        /*right: 25px;*/
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }


    /*  HAMBURGER  */
    #hamburger {
        width:100%;
        height:100%;
        position:absolute;
    }
    #hamburger span {
        width: 30px;
        height: 2px;
        background: #333;
        display: block;
        margin: 6px auto;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
    }
    #hamburger span:nth-child(1) {
        -webkit-transition-delay: .3s;
        -moz-transition-delay: .3s;
        -ms-transition-delay: .3s;
        -o-transition-delay: .3s;
        transition-delay: .3s;
    }
    #hamburger span:nth-child(2) {
        -webkit-transition-delay: .425s;
        -moz-transition-delay: .425s;
        -ms-transition-delay: .425s;
        -o-transition-delay: .425s;
        transition-delay: .425s;
    }
    #hamburger span:nth-child(3) {
        -webkit-transition-delay: .55s;
        -moz-transition-delay: .55s;
        -ms-transition-delay: .55s;
        -o-transition-delay: .55s;
        transition-delay: .55s;
    }
    /*  HAMBURGER : OPEN */
    #menuToggle.open #hamburger span {
        width: 0%;
    }
    #menuToggle.open #hamburger span:nth-child(1) {
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
        -ms-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
    }
    #menuToggle.open #hamburger span:nth-child(2) {
        -webkit-transition-delay: .05s;
        -moz-transition-delay: .05s;
        -ms-transition-delay: .05s;
        -o-transition-delay: .05s;
        transition-delay: .05s;
    }
    #menuToggle.open #hamburger span:nth-child(3) {
        -webkit-transition-delay: .15s;
        -moz-transition-delay: .15s;
        -ms-transition-delay: .15s;
        -o-transition-delay: .15s;
        transition-delay: .15s;
    }


    /*  CROSS  */
    #cross {
        width:100%;
        height:100%;
        position:absolute;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #cross span {
        background: #333;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
    }
    #cross span:nth-child(1) {
        width: 2px;
        height: 0%;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
        top: -2px;
        left: 0;
        right: 0;
    }
    #cross span:nth-child(2) {
        width: 0%;
        height: 2px;
        -webkit-transition-delay: .1s;
        -moz-transition-delay: .1s;
        -ms-transition-delay: .1s;
        -o-transition-delay: .1s;
        transition-delay: .1s;
        top: 14px;
        left: -1px;
    }
    /*  CROSS : OPEN  */
    #menuToggle.open #cross span:nth-child(1) {
        height: 34px;
        -webkit-transition-delay: .5s;
        -moz-transition-delay: .5s;
        -ms-transition-delay: .5s;
        -o-transition-delay: .5s;
        transition-delay: .5s;
    }
    #menuToggle.open #cross span:nth-child(2) {
        width: 34px;
        -webkit-transition-delay: .2s;
        -moz-transition-delay: .2s;
        -ms-transition-delay: .2s;
        -o-transition-delay: .2s;
        transition-delay: .2s;
    }




    /*  MENU LIST  */
    .nav {
        position: absolute;
        /*margin-right: -6%;*/
        margin-top: 66px;
        z-index: -1;
        width: 100%;
        /*height: 100px;*/
        background: #f4f4f4;
        float: right;
        overflow: hidden;
        /*position: relative;*/
        right: -100%;
        -webkit-transition: .7s ease-in-out;
        -moz-transition: .7s ease-in-out;
        -ms-transition: .7s ease-in-out;
        -o-transition: .7s ease-in-out;
        transition: .7s ease-in-out;
    }
    .nav.open {
        position: absolute;
        /*margin-right: -6%;*/
        margin-top: 66px;
        width: 100%;
        /*height: 100px;*/
        right: 0;
    }
    .nav ul {
        float: left;
        /*display: grid;*/
        margin: 0 auto;
        padding: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 5%;
        padding-left: 5%;
        width: 370px;
    }
    .nav ul li {
        width: auto;
        float: left;

    }
    .nav img{
        width: 20px;
    }
    .nav li{
        width: auto;
    }
    .nav a{
        font-size: 12px;
    }

    .text{
        padding-right: 5%;
    }
    .nav li:first-child {
        width: 106px;
    }

    .nav li:nth-child(2) {
        width: 43px;
    }

    .nav li:nth-child(3) {
        width: 49px;
    }

    .nav li:nth-child(4) {
        width: 69px;
    }

    .nav li:nth-child(5) {
        width: 52px;
    }
    .nav li:nth-child(6) {
        width: 35px;
    }
    .nav li:nth-child(7) {
        width: 35px;
    }

    .text {
        position: initial;
        padding-left: 5%;
        bottom: 15%;
    }
    .blueFotoSection{
        height:310px;
    }
    .blueFotoSection h2{
        color: #fbb900;
        font-family: Raleway;
        font-weight: 600;
        padding-right: 5%;
        padding-left: 5%;
        font-size: 18px;
    }
    .blueFotoSection h3{
        color: white;
        font-weight: 700;
        margin-top: 10%;
        padding-right: 5%;
        padding-left: 5%;
    }
    body{
        font-size: 13px;
    }
    .logoTop{
        width:100px;
    }
    .baseline {
        padding-right: 5%;
        padding-left: 5%;
    }

    .blueFotoImg {
        margin-left: -16%;
        width: 115%;
    }

    .text {
        padding-left: 5%;
        bottom: 15%;

    }

    .oferta {
        padding-left: 5%;
        padding-right: 5%;
    }

    .opakownie {
        padding-left: 5%;
    }

    .zNami {
        padding-left: 5%;
    }

    .bottom {

        padding-right: 5%;
        padding-left: 5%;
    }
    .ofer{
        display: block;
    }
    .ofer img {
        padding-right: 0px;
        width:30%;
        margin: 0 auto;
    }
    .oferImg{
        display: grid;
        margin-bottom: 10px;
    }
    .czytaj {
        padding-bottom: 16px;
    }
    .opisOferty {
         /*height: 111px;*/
    }
    .mobile{
        display: block;
    }
    .normal{
        display: none;
    }
    .kropkiJasne{
        background-position: left 60px;
        width: 15%;
    }
    .opakownie{
        display: none;

    }
    .zNami{
        display: none;
    }
    .bottom{
        display: flex;
        flex-direction: column;
    }
    .middleDownLeft{
        width: 100%;
    }
    .middleDownRight{
        width: 100%;
        margin-top: 20px;
    }
    .inline{
        margin-left: 0;
    }
    .section7{
        padding-right: 5%;
        padding-left: 5%;
        text-align: center;
    }
    .right {
        display: none;
    }

    .right img {
        display: none;
    }

    .left {
        width: 100%;
    }
}
@media only screen and (max-width: 640px) {
    .nav ul{
        width:370px;
    }
}
@media only screen and (max-width: 340px) {
    .nav ul {
        width:320px;
        font-size: 10px;
    }
    .nav a{
        font-size: 10px;
    }
}