@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

@font-face {
    font-family: 'Raleway Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.googleapis.com/css?family=Raleway) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
    height: auto;
}

body {
    font-size: 100%;
    font-size: 16px;
    font-family: 'Raleway';
    height: auto;
    overflow: scroll;
}

.menuGorne {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 84px;
}

.firstSection {
    height: 84px;
}

/*ten jasniejszy pasek u gory*/
.belkaGorna {
    height: 84px;
    top: 0;
    z-index: 2;
    position: fixed;
    width: 100%;
    /*background-image: url("img/menuGórne2.png");*/
    /*background-repeat: repeat-x;*/
    /*background-size: cover;*/
}

/*div z logo i nav*/
.baseline {
    display: inline-flex;
    z-index: 3;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-right: 19%;
    padding-left: 19%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logoTop {
    width: 121px;
    transition: all 0.3s ease-in-out;
}

.nav {
    color: #3d3c3d;
    width: 397px;
    margin-top: 21px;
}

.nav li {
    list-style: none;
    display: inline;
    text-align: center;
    /*margin-left: 10px;*/
}

.nav ul {
    margin: 0;
    display: flex;
}

.nav li:first-child {
    width: 126px;
    /*color: #3d3c3d;*/
}

.nav li:nth-child(2) {
    width: 49px;
}

.nav li:nth-child(3) {
    width: 55px;
}

.nav li:nth-child(4) {
    width: 75px;
}

.nav li:nth-child(5) {
    width: 58px;
}

.nav a {
    color: #3d3c3d;
    text-decoration: none;

}

#active {
    color: #009fe4;
    font-weight: bold;
}

.nav a:hover {
    color: #009fe4;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 900;

}

.blueFotoSection {
    /*top:84px;*/
    position: relative;
    height: 350px;
    width: 100%;
    background-color: #009fe4;
    background-image: url(img/zdjecieWtle.png);
    background-size: cover;
    /*background-position-y: -113px;*/
    background-attachment: fixed;
    overflow: hidden;
}

.blueFotoImg {
    width: 100%;
    overflow: hidden;
}

.text {
    position: absolute;
    bottom: 5%;
    padding-left: 19%;
    padding-right: 50%;
    color: white;
    text-align: justify;
}

.opisy {
    position: relative;
    height: 800px;
    width: 100%;
    padding-right: 19%;
    padding-left: 19%;
    margin-top: 70px;
    margin-bottom: 20px;
}

.osoba {
    height: 33.33%;
    width: 100%;
    display: flex;
}

.zdjecie {
    flex-grow: 1;
    padding-right: 220px;
}

/*.zdjecie img{*/
/*width: 190px;*/
/*}*/
.bottomPhoto {
    width: 190px;
}

.top {
    width: 192px;
    margin-top: -0.5px;
    margin-left: -0.5px;
}

.losiuYellow {
    position: absolute;
}

.zdjecieLosiu img {
    position: absolute;
    left: 19%;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.zdjecieLosiu img.top:hover {
    opacity: 0;
}

.dankaYellow {
    position: absolute;
}

.zdjecieDanka img {
    position: absolute;
    left: 19%;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.zdjecieDanka img.top:hover {
    opacity: 0;
}

.stodiYellow {
    position: absolute;
}

.zdjecieStodi img {
    position: absolute;
    left: 19%;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.zdjecieStodi img.top:hover {
    opacity: 0;
}

.opis {
    width: 70%;
    height: 100%;
}

.blueM {
    color: #009fe4;
    font-family: "Myriad Pro", sans-serif;
    text-align: justify;
}

.just {
    text-align: justify;
}

.opisOsoby h4 {
    font-weight: 900;
    margin-bottom: 0;

}

.opisOsoby {
    flex-grow: 2;
    padding-top: 10px;
}

.opisOsoby p {
    font-size: 14px;
    margin-top: 0;
}

.section5 {
    width: 100%;
    height: 350px;
    background-color: #fbb900;
    position: relative;

}

.blueDolny {
    width: 15%;
    height: 100%;
    background-image: url("img/blueSymbolDolny.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
}

.kropkiJasne {
    right: 0;
    /* float: right; */
    height: 100%;
    width: 13%;
    background-image: url(img/kropkiJasne.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left 160px;

}

.kontakt {
    padding-left: 20%;
    padding-right: 0.5%;
}

.kropkiCzarne {

}

.kropkiCzarneImg {
    width: 100%;
}

.opakownie {
    display: flex;
    align-items: baseline;
    width: 100%;
    padding-left: 19%;
}

.skontaktuj {
    width: 100%

}

.srodkowanieWpionie {
    width: 100%;
    height: 65%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bottom {
    width: 100%;
    padding-right: 19%;
    padding-left: 19%;
    height: 70px;
}

.middleDownLeft {
    float: left;
    line-height: 17px;
    width: 50%;
}

.middleDownRight {
    float: right;
    width: 50%;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.zNami {
    padding-left: 19%;
    padding-bottom: 30px;
    padding-top: 10px;
}

.inline {
    display: flex;
    align-items: center;
    margin-left: 17%;
}

.inline img {
    display: inline;
    height: 22px;
    margin-right: 3%;
    width: 22px;

}

.img p {
    display: inline;
}

p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.rightKropki {
    width: 20%;
    position: relative;
}

.jasneKropki {
    width: 70%;
    position: absolute;
    right: 0;
    top: 40%;
}

.section6 {
    width: 100%;
    height: 350px;
}

#map {
    height: 100%;
    position: relative;
    overflow: hidden;;
}

.heavy {
    font-weight: 900;
}

@media only screen and (max-width: 1100px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .yellowSectionContent {
        height: 250px;
    }

    .middleDownRight {
        font-size: 19px
    }

    .section5 {
        height: 270px;
    }

    .kropkiJasne {
        background-position: left 130px;
    }

    .nav {
        width: 380px;
    }

    .nav li:first-child {
        width: 113px;
        /*color: #3d3c3d;*/
    }

    .nav li:nth-child(2) {
        width: 46px;
    }

    .nav li:nth-child(3) {
        width: 52px;
    }

    .nav li:nth-child(4) {
        width: 72px;
    }

    .nav li:nth-child(5) {
        width: 55px;
    }

    /*.zdjecie img {*/
    /*width: 160px;*/
    /*}*/
    .bottomPhoto {
        width: 160px;
    }

    .top {
        width: 162px;
        margin-top: -0.5px;
        margin-left: -0.5px;
    }

    .opisOsoby p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 900px) {
    .baseline {
        padding-right: 10%;
        padding-left: 10%;
    }

    .blueFotoImg {
        margin-left: -11%;
        width: 110%;
    }

    .text {
        padding-left: 10%;
        bottom: 15%;
    }

    .opisy {
        padding-right: 10%;
        padding-left: 10%;
    }

    .zdjecieLosiu img {
        left: 10%;
    }

    .zdjecieDanka img {
        left: 10%;
    }

    .zdjecieStodi img {
        left: 10%;
    }

    .opakownie {
        padding-left: 10%;
    }

    .zNami {
        padding-left: 10%;
    }

    .bottom {

        padding-right: 10%;
        padding-left: 10%;
    }

    .kropkiJasne {
        width: 10%;
    }

    .blueDolny {
        display: none
    }

    .nav {
        width: 375px;
    }

    .nav li:first-child {
        width: 106px;
        /*color: #3d3c3d;*/
    }

    .nav li:nth-child(2) {
        width: 43px;
    }

    .nav li:nth-child(3) {
        width: 49px;
    }

    .nav li:nth-child(4) {
        width: 69px;
    }

    .nav li:nth-child(5) {
        width: 52px;
    }

    .zNami {
        padding-bottom: 20px;
    }

    .zNami p {
        font-size: 13px;

    }

    .middleDownRight {
        font-size: 17px;
    }

    .middleDownLeft {
        font-size: 13px;
    }

    /*.zdjecie img {*/
    /*width: 150px;*/
    /*}*/
    .bottomPhoto {
        width: 150px;
    }

    .top {
        width: 152px;
        margin-top: -0.5px;
        margin-left: -0.5px;
    }

    .opisOsoby p {
        font-size: 11px;
    }

    .opisOsoby {
        padding-top: 5px;
    }

    .text {
        font-size: 13px;
    }

}

@media only screen and (max-width: 700px) {
    body {
        font-size: 13px;
    }

    .logoTop {
        width: 100px;
    }

    .baseline {
        padding-right: 5%;
        padding-left: 5%;
    }

    .blueFotoImg {
        margin-left: -17%;
        width: 116%;
    }

    .text {
        padding-left: 5%;
        bottom: 15%;

    }

    .opisy {
        padding-right: 5%;
        padding-left: 5%;
    }

    .zdjecieLosiu img {
        left:0;
        right:0;
        margin: 0 auto;
    }

    .zdjecieDanka img {
        left:0;
        right:0;
        margin: 0 auto;
    }

    .zdjecieStodi img {
        left:0;
        right:0;
        margin: 0 auto;
    }

    .zdjecie {
        height: 150px;
        padding-right: 0;
        margin-bottom: 10px;
    }

    .opakownie {
        padding-left: 5%;
    }

    .zNami {
        padding-left: 5%;
    }

    .bottom {

        padding-right: 5%;
        padding-left: 5%;
    }

    .osoba {
        flex-direction: column;
        display: block;
    }

    .opisy {
        height: 1330px;
    }

    .opisOsoby p {
        font-size: 13px;
    }

    .kropkiJasne {
        background-position: left 60px;
        width: 15%;
    }

    .opakownie {
        display: none;

    }

    .zNami {
        display: none;
    }

    .bottom {
        display: flex;
        flex-direction: column;
    }

    .middleDownLeft {
        width: 100%;
    }

    .middleDownRight {
        width: 100%;
        margin-top: 20px;
    }

    .inline {
        margin-left: 0;
    }
}