@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

@font-face {
    font-family: 'Raleway Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.googleapis.com/css?family=Raleway) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
    height: auto;
}

body {
    font-size: 100%;
    font-size: 16px;
    font-family: 'Raleway';
    height: auto;
    overflow: scroll;
}
.menuGorne {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 84px;
}

/*ten jasniejszy pasek u gory*/
.belkaGorna {
    z-index: 2;
    position: relative;
    width: 100%;
    /*background-image: url("img/menuGórne2.png");*/
    /*background-repeat: repeat-x;*/
    /*background-size: cover;*/
}

/*div z logo i nav*/
.baseline {
    display: inline-flex;
    z-index: 3;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-right: 20%;
    padding-left: 20%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logoTop {
    width: 121px;
}

.nav {
    color: #3d3c3d;
    width: 397px;
    margin-top: 21px;
}

.nav li {
    list-style: none;
    display: inline;
    text-align: center;
    /*margin-left: 10px;*/
}

.nav ul {
    margin: 0;
    display: flex;
}

.nav li:first-child {
    width: 126px;
    /*color: #3d3c3d;*/
}

.nav li:nth-child(2) {
    width: 49px;
}

.nav li:nth-child(3) {
    width: 55px;
}

.nav li:nth-child(4) {
    width: 75px;
}

.nav li:nth-child(5) {
    width: 58px;
}

.nav a {
    color: #3d3c3d;
    text-decoration: none;

}

#active {
    color: #009fe4;
    font-weight: bold;
}

.nav a:hover {
    color: #009fe4;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight:900;

}




.section5 {
    width: 100%;
    height: 350px;
    background-color: #fbb900;
    position: relative;

}

.blueDolny {
    width: 15%;
    height: 100%;
    background-image: url("img/blueSymbolDolny.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
}

.kropkiJasne {
    right: 0;
    /* float: right; */
    height: 100%;
    width: 13%;
    background-image: url(img/kropkiJasne.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left 160px;

}

.kontakt {
    padding-left: 20%;
    padding-right: 0.5%;
}

.kropkiCzarne {

}

.kropkiCzarneImg {
    width: 100%;
}

.opakownie {
    display: flex;
    align-items: baseline;
    width:100%;
    padding-left: 20%;
}
.skontaktuj{
    width:100%

}

.srodkowanieWpionie {
    width: 100%;
    height: 65%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bottom {
    width: 100%;
    padding-right: 20%;
    padding-left: 20%;
    height: 70px;
}

.middleDownLeft {
    float: left;
    line-height: 17px;
    width: 50%;
}

.middleDownRight {
    float: right;
    width: 50%;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.zNami {
    padding-left: 20%;
    padding-bottom: 30px;
    padding-top: 10px;
}

.inline {
    display: flex;
    align-items: center;
    margin-left: 17%;
}

.inline img {
    display: inline;
    height: 22px;
    margin-right: 3%;
    width: 22px;

}

.img p {
    display: inline;
}

p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.rightKropki {
    width: 20%;
    position: relative;
}

.jasneKropki {
    width: 70%;
    position: absolute;
    right: 0;
    top: 40%;
}

.section6 {
    width: 100%;
    height: 350px;
}

#map {
    height: 100%;
    position: relative;
    overflow: hidden;;
}

@media only screen and (max-width: 1100px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .yellowSectionContent{
        height: 250px;
    }
    .middleDownRight{
        font-size:19px
    }
    .section5{
        height:270px;
    }

    .kropkiJasne{
        background-position: left 130px;
    }

    .nav{
        width: 386px;
    }
    .nav li:first-child {
        width: 123px;
        /*color: #3d3c3d;*/
    }

    .nav li:nth-child(2) {
        width: 46px;
    }

    .nav li:nth-child(3) {
        width: 52px;
    }

    .nav li:nth-child(4) {
        width: 72px;
    }

    .nav li:nth-child(5) {
        width: 55px;
    }
}

@media only screen and (max-width: 900px) {

    .nav{
        width: 375px;
    }
    .nav li:first-child {
        width: 120px;
        /*color: #3d3c3d;*/
    }

    .nav li:nth-child(2) {
        width: 43px;
    }

    .nav li:nth-child(3) {
        width: 49px;
    }

    .nav li:nth-child(4) {
        width: 69px;
    }

    .nav li:nth-child(5) {
        width: 52px;
    }
    .zNami{
        padding-bottom: 20px;
    }
    .zNami p{
        font-size: 13px;

    }
    .middleDownRight {
        font-size: 17px;
    }
    .middleDownLeft{
        font-size: 13px;
    }
}