@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

@font-face {
    font-family: 'Raleway Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.googleapis.com/css?family=Raleway) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
    height: auto;
}

body {
    font-size: 100%;
    font-size: 16px;
    font-family: 'Raleway';
    height: auto;
    overflow: scroll;
}
/*snippa*/
/*@import url(https://fonts.googleapis.com/css?family=Montserrat:200);*/


/* This is the parent container class
the position is set to relative for absolute positioning inside */
.img-hover-text {
    width: 100%;
    margin: auto;
    position: relative;
    font-size:16px;
    /*background: #00000085;*/
}

/* The image inside of the .img-hover-text will fill the width of its parent */
.img-hover-text img {
    width: 100%;
    transition: .5s;

}

/* The caption text inside of the .img-hover-text */
.img-hover-text figcaption {
    font-family: "Raleway SemiBold", sans-serif;
    font-size:16px;
    color: white;
    /* Position absolute to remove it from the flow of the document and absolutely position it within the .img-hover-text container */
    position: absolute;
    width: 80%;
    /* Position this elements bottom away from the bottom of the .img-hover-text container by 10% of the  .img-hover-text containers height */
    bottom: 10%;
    /* Position this elements left side away from the left side of the .img-hover-text container by 10% of the .img-hover-text containers width */
    left: 10%;
    padding: 10px;
    /* Factor padding and border size into declared width */
    box-sizing: border-box;
    /* Opacity 0 so the element cannot be seen unless user is hovering cursor */
    opacity: 0;
    /* Transition all properties by half a second */
    transition: .5s;

}

figcaption h3{
    font-size: 16px;
line-height: 140%;
}

/* :hover pseudo selector used on parent container to then target figcaption child */
.img-hover-text:hover figcaption {
    /* Makes the element completely visible */
    opacity: 1;
    transition: all 1s;
}

.img-hover-text:hover img {
    filter: brightness(30%);
    -webkit-filter: brightness(30%);
    transition: all 1s;
}

.snip1577 *,
.snip1577:before,
.snip1577:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

}

.snip1577 img {
    max-width: 100%;
    transition: all 1s;
}

.snip1577:before,
.snip1577:after {
    position: absolute;
    top: 20px;
    right: 20px;
    content: '';
    background-color: #fff;
    z-index: 1;
    opacity: 0;
}

.snip1577:before {
    width: 0;
    height: 1px;
}

.snip1577:after {
    height: 0;
    width: 1px;
}

.snip1577:hover:before,
.snip1577.hover:before,
.snip1577:hover:after,
.snip1577.hover:after {
    opacity: 1;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

.snip1577:hover:before,
.snip1577.hover:before {
    width: 40px;
}

.snip1577:hover:after,
.snip1577.hover:after {
    height: 40px;
}
/*-----------------------*/

.menuGorne {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 84px;
}

.firstSection {
    height: 84px;
}
.white{
    background-color: white;
}

/*ten jasniejszy pasek u gory*/
.belkaGorna {
    z-index: 3;
    position: fixed;
    width: 100%;
}

/*div z logo i nav*/
.baseline {
    display: inline-flex;
    z-index: 3;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-right: 19%;
    padding-left: 19%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logoTop {
    width: 121px;
    cursor: pointer;
    /*transition: all 0.3s ease-in-out;*/
}

.nav {
    color: #3d3c3d;
    /*width: 444px;*/
    margin-top: 21px;
}

.nav li {
    list-style: none;
    display: inline;
    text-align: center;
    /*margin-left: 10px;*/
}

.nav ul {
    margin: 0;
    display: flex;
    width: 550px;
    justify-content: space-between;
}

.nav li:first-child {
    width: 126px;
}

.nav li:nth-child(2) {
    width: 49px;
}

.nav li:nth-child(3) {
    width: 55px;
}

.nav li:nth-child(4) {
    width: 80px;
}

.nav li:nth-child(5) {
    width: 62px;
}

.nav li:nth-child(6) {
    width: 40px;
    margin-top: -3px;
}

.nav li:nth-child(7) {
    width: 32px;
    margin-top: -3px;
}

.nav a {
    color: #3d3c3d;
    text-decoration: none;

}

#active {
    color: #009fe4;
    font-weight: 900;
}

.nav a:hover {
    color: black;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 600;

}

.portfolioSection {

}

.portfolioNav {
    padding-right: 19%;
    padding-left: 19%;
    display: flex;
    justify-content: space-between;
}

.blueFotoSection {
    position: relative;
    height: 350px;
    width: 100%;
    background-color: #009fe4;
    background-image: url(img/zdjecieWtle.png);
    background-size: cover;
    /*background-position-y: -113px;*/
    background-attachment: fixed;
    overflow: hidden;
}

.blueFotoImg {
    width: 100%;
}

.yellow {
    color: #fbb900;
}

.text {
    position: absolute;
    bottom: 10%;
    padding-left: 19%;
    padding-right: 50%;
    color: white;
    text-align: justify;
}

#portfolio {
    padding-right: 18.56%;
    padding-left: 18.56%;
    width: 100%;
    margin: 20px 0px;
    min-height: 165px;
}

.tile {
    float: left;
    width: 25%;
    /*padding-top: 24%;*/
    border: 4px #fff solid;
    position: relative;
}

.tile:before {
    content: "";
    display: block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

.tile:hover {
    cursor: pointer;
}

.navButton {
    width: 100%;
    display: none;
    background-color: transparent;
    width: 100%;
}

.navButton button:hover {
    cursor: pointer;

}

.navButton button:focus {
    outline: none;
}

.navButton button {
    float: right;
    background-color: transparent;
    border: transparent;
}

.nextButton {
    right: 14%;
    float: right;
    position: fixed;
    padding-top: 34px;
}

.prevButton {
    left: 14%;
    float: left;
    position: fixed;
    padding-top: 34px;
}

.portfolioSection {
    margin-top: 40px;
    /*margin-bottom: 25px;*/
}

.portfolioSection p {
    background: #fbb900;
    padding-top: 10px;
    padding-bottom: 10px;
    /*padding-right: 40px;*/
    /*padding-left: 40px;*/
    text-decoration: none;
    font-family: Raleway;
    font-size: 16px;
    color: #333;
    display: block;
    float: left;
}

/*wszystko*/
.portfolioNav p:first-child {
    text-align: center;
    width: 140px;
}

/*projektowanie*/
.portfolioNav p:nth-child(2) {
    width: 260px;
    text-align: center;
}

/*fotografia*/
.portfolioNav p:nth-child(3) {
    width: 140px;
    text-align: center;
}

/*Video*/
.portfolioNav p:nth-child(4) {
    width: 140px;
    text-align: center;
}

/*Strony*/
.portfolioNav p:nth-child(5) {
    width: 160px;
    text-align: center;
}

.navDolny {
    display: none;
}

#active2 {
    background: #009fe4;
    color: #eee;
    font-weight: bold
}
#active22 {
    background: #009fe4;
    color: #eee;
    font-weight: bold
}

.portfolioSection p:hover {
    cursor: pointer;
    background: #009fe4;
    color: #eee;
    font-weight: bold;
}
.portfolio-content{
    margin-bottom: 30px;
}
.portfolio-content h2 {
    color: black;
    font-family: "Raleway SemiBold";
}

.portfolio-content h6 {
    color: #009fe4;
    font-family: "Raleway", sans-serif;
    padding-bottom: 8px;
}

#contentP {
    color: black;
    background-color: white;
    padding: 0;
    font-family: Raleway;
    padding-bottom: 20px;
}

#contentP:hover {
    color: black;
    background-color: white;
    font-weight: normal;
}

.content {
    display: inline;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.content img {
    width: 100%;
}

.noBreak {
    display: none;
    margin-right: 19%;
    margin-left: 19%;
    margin-top: 30px;
}

.noBreak img {
    width: 100%;
}
.portfolio-content img:last-child{
    margin-bottom: 0;
}
.break {
    display: none;
    margin-right: 19%;
    margin-left: 19%;
    margin-top: 30px;
}

.break img {
    width: 100%;
    margin-bottom: 1.9%;
}

.kopalnia {
    display: none;
    margin-right: 19%;
    margin-left: 19%;
    margin-top: 30px;
}

.kopalnia img {
    width: 100%;
    margin-bottom: 20px;
}

.kopalniaSmall {
    width: 60%;
    margin: 0 auto;
}

iframe {
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
}

.section5 {
    width: 100%;
    height: 350px;
    background-color: #fbb900;
    position: relative;
}

.blueDolny {
    width: 15%;
    height: 100%;
    background-image: url("img/blueSymbolDolny.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
}

.kropkiJasne {
    right: 0;
    height: 100%;
    width: 13%;
    background-image: url(img/kropkiJasne.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left 160px;
}

.kontakt {
    padding-left: 20%;
    padding-right: 0.5%;
}

.kropkiCzarne {
}

.kropkiCzarneImg {
    width: 100%;
}

.opakownie {
    display: flex;
    align-items: baseline;
    width: 100%;
    padding-left: 19%;
}

.skontaktuj {
    width: 100%
}

.srodkowanieWpionie {
    width: 100%;
    height: 65%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bottom {
    width: 100%;
    padding-right: 19%;
    padding-left: 19%;
    height: 70px;
}

.middleDownLeft {
    float: left;
    line-height: 17px;
    width: 50%;
}

.middleDownRight {
    float: right;
    width: 50%;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.zNami {
    padding-left: 19%;
    padding-bottom: 30px;
    padding-top: 10px;
}

.inline {
    display: flex;
    align-items: center;
    margin-left: 17%;
}

.inline p a {
    color: black;
    text-decoration: none;
}

.inline img {
    display: inline;
    height: 30px;
    margin-right: 3%;
    width: 30px;

}

.img p {
    display: inline;
}

p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.rightKropki {
    width: 20%;
    position: relative;
}

.jasneKropki {
    width: 70%;
    position: absolute;
    right: 0;
    top: 40%;
}

.section6 {
    width: 100%;
    height: 350px;
}

#map {
    height: 100%;
    position: relative;
    overflow: hidden;;
}

.heavy {
    font-weight: 900;
}

.section7 {
    padding-right: 19%;
    padding-left: 19%;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

.mobile {
    display: none;
}

.right {
    width: 30%;
    text-align: right;
}

.right img {
    width: 150px;
}

.left {
    width: 80%;
    font-size: 12px;
}


@media only screen and (max-width: 1400px) {
    .portfolioSection p {
        font-size: 16px;
    }

    /*wszystko*/
    .portfolioNav p:first-child {
        text-align: center;
        width: 110px;
    }

    /*projektowanie*/
    .portfolioNav p:nth-child(2) {
        width: 230px;
        text-align: center;
    }

    /*fotografia*/
    .portfolioNav p:nth-child(3) {
        width: 110px;
        text-align: center;
    }

    /*Video*/
    .portfolioNav p:nth-child(4) {
        width: 110px;
        text-align: center;
    }

    /*Strony*/
    .portfolioNav p:nth-child(5) {
        width: 130px;
        text-align: center;
    }
}

@media only screen and (max-width: 1300px) {
    .portfolioSection p {
        font-size: 16px;
    }

    iframe {
        height: 280px;
    }
}

@media only screen and (max-width: 1200px) {
    .portfolioSection p {
        /*padding-right: 19px;*/
        /*padding-left: 19px;*/
        font-size: 16px;
    }

    /*wszystko*/
    .portfolioNav p:first-child {
        text-align: center;
        width: 100px;
    }

    /*projektowanie*/
    .portfolioNav p:nth-child(2) {
        width: 220px;
        text-align: center;
    }

    /*fotografia*/
    .portfolioNav p:nth-child(3) {
        width: 100px;
        text-align: center;
    }

    /*Video*/
    .portfolioNav p:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    /*Strony*/
    .portfolioNav p:nth-child(5) {
        width: 120px;
        text-align: center;
    }

    iframe {
        height: 250px;
    }
}

@media only screen and (max-width: 1100px) {
    iframe {
        height: 220px;
    }

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .yellowSectionContent {
        height: 250px;
    }

    .middleDownRight {
        font-size: 19px
    }

    .section5 {
        height: 270px;
    }

    .kropkiJasne {
        background-position: left 130px;
    }

    .nav li:first-child {
        width: 113px;
    }

    .nav li:nth-child(2) {
        width: 46px;
    }

    .nav li:nth-child(3) {
        width: 52px;
    }

    .nav li:nth-child(4) {
        width: 72px;
    }

    .nav li:nth-child(5) {
        width: 55px;
    }

    .tile {
        border: 3px #fff solid;
    }

    .portfolioSection p {
        font-size: 16px;
    }

    /*wszystko*/
    .portfolioNav p:first-child {
        text-align: center;
        width: 90px;
    }

    /*projektowanie*/
    .portfolioNav p:nth-child(2) {
        width: 210px;
        text-align: center;
    }

    /*fotografia*/
    .portfolioNav p:nth-child(3) {
        width: 90px;
        text-align: center;
    }

    /*Video*/
    .portfolioNav p:nth-child(4) {
        width: 90px;
        text-align: center;
    }

    /*Strony*/
    .portfolioNav p:nth-child(5) {
        width: 110px;
        text-align: center;
    }

    .prevButton {
        padding-top: 29px;
    }

    .nextButton {
        padding-top: 29px;
    }
}

@media only screen and (max-width: 1000px) {

    .portfolioSection p {
        font-size: 14px;
    }

    /*wszystko*/
    .portfolioNav p:first-child {
        text-align: center;
        width: 80px;
    }

    /*projektowanie*/
    .portfolioNav p:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    /*fotografia*/
    .portfolioNav p:nth-child(3) {
        width: 80px;
        text-align: center;
    }

    /*Video*/
    .portfolioNav p:nth-child(4) {
        width: 80px;
        text-align: center;
    }

    /*Strony*/
    .portfolioNav p:nth-child(5) {
        width: 100px;
        text-align: center;
    }

    iframe {
        /*height:200px;*/
    }
}

@media only screen and (max-width: 900px) {
    .baseline {
        padding-right: 10%;
        padding-left: 10%;
    }

    .blueFotoImg {
        margin-left: -11%;
        width: 110%;
    }

    .text {
        padding-left: 10%;
        bottom: 20%;
    }

    .navButton {
        padding-right: 10%;
    }

    .nextButton {
        right: 4%;
    }

    .prevButton {
        left: 4%;
    }

    .portfolioNav {
        padding-right: 10%;
        padding-left: 10%;
    }

    #portfolio {
        padding-right: 9.56%;
        padding-left: 9.56%;
    }

    .break {
        margin-right: 10%;
        margin-left: 10%;
    }

    .noBreak {
        margin-right: 10%;
        margin-left: 10%;
    }

    /*//---------*/
    .opakownie {
        padding-left: 10%;
    }

    .zNami {
        padding-left: 10%;
    }

    .bottom {

        padding-right: 10%;
        padding-left: 10%;
    }

    .kropkiJasne {
        width: 10%;
    }

    .blueDolny {
        display: none
    }

    .nav ul {
        width: 500px;
    }

    .nav li:first-child {
        width: 106px;
    }

    .nav li:nth-child(2) {
        width: 43px;
    }

    .nav li:nth-child(3) {
        width: 49px;
    }

    .nav li:nth-child(4) {
        width: 69px;
    }

    .nav li:nth-child(5) {
        width: 52px;
    }

    .zNami {
        padding-bottom: 20px;
    }

    .zNami p {
        font-size: 13px;

    }

    .middleDownRight {
        font-size: 17px;
    }

    .middleDownLeft {
        font-size: 13px;
    }

    .portfolioSection p {
        font-size: 16px;
    }

    .text {
        font-size: 13px;
    }

    .section7 {
        padding-right: 10%;
        padding-left: 10%;
        font-size: 13px;
    }
    /*wszystko*/
    .portfolioNav p:first-child {
        text-align: center;
        width: 92px;
    }

    /*projektowanie*/
    .portfolioNav p:nth-child(2) {
        width: 202px;
        text-align: center;
    }

    /*fotografia*/
    .portfolioNav p:nth-child(3) {
        width: 120px;
        text-align: center;
    }

    /*Video*/
    .portfolioNav p:nth-child(4) {
        width: 93px;
        text-align: center;
    }

    /*Strony*/
    .portfolioNav p:nth-child(5) {
        width: 114px;
        text-align: center;
    }
}
@media only screen and (max-width: 800px) {
    /*wszystko*/
    .portfolioNav p:first-child {
        text-align: center;
        width: 85px;
    }

    /*projektowanie*/
    .portfolioNav p:nth-child(2) {
        width: 195px;
        text-align: center;
    }

    /*fotografia*/
    .portfolioNav p:nth-child(3) {
        width: 92px;
        text-align: center;
    }

    /*Video*/
    .portfolioNav p:nth-child(4) {
        width: 62px;
        text-align: center;
    }

    /*Strony*/
    .portfolioNav p:nth-child(5) {
        width: 106px;
        text-align: center;
    }
}

@media only screen and (max-width: 700px) {
    /*  ALL TRANSITIONS */
    #cross span:nth-child(1),
    #menuToggle.open #hamburger span:nth-child(2),
    #menuToggle.open #hamburger span:nth-child(1),
    #cross span:nth-child(2),
    #menuToggle.open #hamburger span:nth-child(3),
    #menuToggle.open #cross span:nth-child(2),
    #hamburger span:nth-child(1),
    #hamburger span:nth-child(2),
    #hamburger span:nth-child(3),
    #cross,
    #menuToggle.open #cross span:nth-child(1) {
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -ms-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /*  MENUTOGGLE  */
    .menuToggle_Container {
    }

    #menuToggle {
        margin: auto;
        right: 5%;
        bottom: 0;
        top: 0;
        width: 32px;
        height: 32px;
        background: transparent;
        cursor: pointer;
        position: absolute;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    /*  HAMBURGER  */
    #hamburger {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    #hamburger span {
        width: 30px;
        height: 2px;
        background: #333;
        display: block;
        margin: 6px auto;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
    }

    #hamburger span:nth-child(1) {
        -webkit-transition-delay: .3s;
        -moz-transition-delay: .3s;
        -ms-transition-delay: .3s;
        -o-transition-delay: .3s;
        transition-delay: .3s;
    }

    #hamburger span:nth-child(2) {
        -webkit-transition-delay: .425s;
        -moz-transition-delay: .425s;
        -ms-transition-delay: .425s;
        -o-transition-delay: .425s;
        transition-delay: .425s;
    }

    #hamburger span:nth-child(3) {
        -webkit-transition-delay: .55s;
        -moz-transition-delay: .55s;
        -ms-transition-delay: .55s;
        -o-transition-delay: .55s;
        transition-delay: .55s;
    }

    /*  HAMBURGER : OPEN */
    #menuToggle.open #hamburger span {
        width: 0%;
    }

    #menuToggle.open #hamburger span:nth-child(1) {
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
        -ms-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
    }

    #menuToggle.open #hamburger span:nth-child(2) {
        -webkit-transition-delay: .05s;
        -moz-transition-delay: .05s;
        -ms-transition-delay: .05s;
        -o-transition-delay: .05s;
        transition-delay: .05s;
    }

    #menuToggle.open #hamburger span:nth-child(3) {
        -webkit-transition-delay: .15s;
        -moz-transition-delay: .15s;
        -ms-transition-delay: .15s;
        -o-transition-delay: .15s;
        transition-delay: .15s;
    }

    /*  CROSS  */
    #cross {
        width: 100%;
        height: 100%;
        position: absolute;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #cross span {
        background: #333;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
    }

    #cross span:nth-child(1) {
        width: 2px;
        height: 0%;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
        top: -2px;
        left: 0;
        right: 0;
    }

    #cross span:nth-child(2) {
        width: 0%;
        height: 2px;
        -webkit-transition-delay: .1s;
        -moz-transition-delay: .1s;
        -ms-transition-delay: .1s;
        -o-transition-delay: .1s;
        transition-delay: .1s;
        top: 14px;
        left: -1px;
    }

    /*  CROSS : OPEN  */
    #menuToggle.open #cross span:nth-child(1) {
        height: 34px;
        -webkit-transition-delay: .5s;
        -moz-transition-delay: .5s;
        -ms-transition-delay: .5s;
        -o-transition-delay: .5s;
        transition-delay: .5s;
    }

    #menuToggle.open #cross span:nth-child(2) {
        width: 34px;
        -webkit-transition-delay: .2s;
        -moz-transition-delay: .2s;
        -ms-transition-delay: .2s;
        -o-transition-delay: .2s;
        transition-delay: .2s;
    }

    /*  MENU LIST  */
    .menuGorne{
        height:84px;
    }
    .nav {
        position: absolute;
        /*margin-right: -6%;*/
        margin-top: 66px;
        z-index: -1;
        width: 100%;
        /*height: 100px;*/
        background: #f4f4f4;
        float: right;
        overflow: hidden;
        /*position: relative;*/
        right: -100%;
        -webkit-transition: .7s ease-in-out;
        -moz-transition: .7s ease-in-out;
        -ms-transition: .7s ease-in-out;
        -o-transition: .7s ease-in-out;
        transition: .7s ease-in-out;
    }

    .nav.open {
        position: absolute;
        /*margin-right: -6%;*/
        margin-top: 66px;
        width: 100%;
        /*height: 100px;*/
        right: 0;
    }

    .nav ul {
        float: left;
        /*display: grid;*/
        margin: 0 auto;
        padding: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 5%;
        padding-left: 5%;
        width: 390px;
    }

    .nav ul li {
        width: auto;
        float: left;

    }

    .nav img {
        width: 20px;
    }

    .nav li {
        width: auto;
    }

    .nav a {
        font-size: 12px;
    }

    .text {
        padding-right: 5%;
    }

    .nav li:first-child {
        width: 106px;
    }

    .nav li:nth-child(2) {
        width: 43px;
    }

    .nav li:nth-child(3) {
        width: 49px;
    }

    .nav li:nth-child(4) {
        width: 69px;
    }

    .nav li:nth-child(5) {
        width: 52px;
    }

    .nav li:nth-child(6) {
        width: 35px;
    }

    .nav li:nth-child(7) {
        width: 35px;
    }

    body {
        font-size: 13px;
    }

    .logoTop {
        width: 95px;
    }

    .baseline {
        padding-right: 5%;
        padding-left: 5%;
    }

    .blueFotoImg {
        margin-left: -16%;
        width: 115%;
    }

    .text {
        position: initial;
        padding-left: 5%;
        bottom: 15%;
    }

    .blueFotoSection{
        height:310px;
    }
    .blueFotoSection h2 {
        color: #fbb900;
        font-family: Raleway;
        font-weight: 600;
        padding-right: 5%;
        padding-left: 5%;
        font-size: 18px;
    }

    .blueFotoSection h3 {
        color: white;
        font-weight: 700;
        margin-top: 10%;
        padding-right: 5%;
        padding-left: 5%;
    }

    .navButton {
        padding-right: 4%;
    }

    .nextButton {
        right: 0;
        padding-top: 32px;
    }

    .nextButton img {
        width: 20px;
    }

    .prevButton {
        left: 0;
        padding-top: 32px;
    }

    .prevButton img {
        width: 20px;
    }

    .portfolioNav {
        padding-right: 5%;
        padding-left: 5%;
    }

    #portfolio {
        padding-right: 4%;
        padding-left: 4%;
    }

    .break {
        margin-right: 8.2%;
        margin-left: 8.2%;
    }

    .navDolny {
        padding-top: 30px;
    }

    .noBreak {
        margin-right: 8.2%;
        margin-left: 8.2%;
    }

    .opakownie {
        padding-left: 5%;
    }

    .zNami {
        padding-left: 5%;
    }

    .bottom {

        padding-right: 5%;
        padding-left: 5%;
    }

    .tile {
        width: 33.3%;
    }

    .snip1577 figcaption {
        background-color: #00000085;
        width: 100%;
        height: 40%;
        text-align: center;
    }
    .portfolio-content{
        margin-bottom: 0;
    }

    .portfolioSection p {
        font-size: 9px;
    }

    /*!*wszystko*!*/
    /*.portfolioNav p:first-child {*/
        /*text-align: center;*/
        /*width: 46px;*/
    /*}*/

    /*!*projektowanie*!*/
    /*.portfolioNav p:nth-child(2) {*/
        /*width: 112px;*/
        /*text-align: center;*/
    /*}*/

    /*!*fotografia*!*/
    /*.portfolioNav p:nth-child(3) {*/
        /*width: 53px;*/
        /*text-align: center;*/
    /*}*/

    /*!*Video*!*/
    /*.portfolioNav p:nth-child(4) {*/
        /*width: 31px;*/
        /*text-align: center;*/
    /*}*/

    /*!*Strony*!*/
    /*.portfolioNav p:nth-child(5) {*/
        /*width: 60px;*/
        /*text-align: center;*/
    /*}*/

    iframe {
        height: 150px;
    }

    .kropkiJasne {
        background-position: left 60px;
        width: 15%;
    }

    .opakownie {
        display: none;

    }

    .zNami {
        display: none;
    }

    .bottom {
        display: flex;
        flex-direction: column;
    }

    .middleDownLeft {
        width: 100%;
    }

    .middleDownRight {
        width: 100%;
        margin-top: 20px;
    }

    .inline {
        margin-left: 0;
    }

    .section7 {
        padding-right: 5%;
        padding-left: 5%;
        text-align: center;
    }

    .right {
        display: none;
    }

    .right img {
        display: none;
    }

    .mobile {
        display: block;
    }

    .normal {
        display: none;
    }

    .left {
        width: 100%;
    }

    .snip1577 h3 {
        margin: 0;
        font-size: 10px;
        font-family: "Raleway SemiBold";
        font-weight: bold;
        opacity: 1;
        display: -webkit-inline-box;
    }

    .snip1577 figcaption {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 5px 5px;
    }

    .img-hover-text figcaption {
        font-family: "Raleway SemiBold", sans-serif;
        font-size:16px;
        color: white;
        /* Position absolute to remove it from the flow of the document and absolutely position it within the .img-hover-text container */
        position: absolute;
        width: 100%;
        /* Position this elements bottom away from the bottom of the .img-hover-text container by 10% of the  .img-hover-text containers height */
        bottom: 0;
        /* Position this elements left side away from the left side of the .img-hover-text container by 10% of the .img-hover-text containers width */
        left: 0;
        background: #00000085;
        /*background-color: #00000085;*/
        /*padding: 10px;*/
        /* Factor padding and border size into declared width */
        box-sizing: border-box;
        /* Opacity 0 so the element cannot be seen unless user is hovering cursor */
        opacity: 1;
        /* Transition all properties by half a second */
        transition: .5s;
    }
    .img-hover-text:hover img {
        /* darkens the image */
        filter: brightness(100%);
        transition: all 1s;
    }
    .snip1577:hover:before,
    .snip1577.hover:before {
        width: 0px;
    }

    .snip1577:hover:after,
    .snip1577.hover:after {
        height: 0px;
    }

}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    .portfolioSection p {
        font-size: 10px;
    }
}

@media only screen and (max-width: 640px) {
    .nav ul {
        width: 370px;
    }
    /*wszystko*/
    .portfolioNav p:first-child {
        text-align: center;
        width: 46px;
    }

    /*projektowanie*/
    .portfolioNav p:nth-child(2) {
        width: 112px;
        text-align: center;
    }

    /*fotografia*/
    .portfolioNav p:nth-child(3) {
        width: 53px;
        text-align: center;
    }

    /*Video*/
    .portfolioNav p:nth-child(4) {
        width: 31px;
        text-align: center;
    }

    /*Strony*/
    .portfolioNav p:nth-child(5) {
        width: 60px;
        text-align: center;
    }
}

@media only screen and (max-width: 340px) {
    .nav ul {
        width: 320px;
        font-size: 10px;
    }

    .nav a {
        font-size: 10px;
    }
    .portfolioNav{
        display: block;
    }
    .portfolioNav p{
        margin-right: 15px;
    }
    /*wszystko*/
    .portfolioNav p:first-child {
        text-align: center;
        width: 60px;
    }

    /*projektowanie*/
    .portfolioNav p:nth-child(2) {
        width: 120px;
        text-align: center;
    }

    /*fotografia*/
    .portfolioNav p:nth-child(3) {
        width: 60px;
        text-align: center;
    }

    /*Video*/
    .portfolioNav p:nth-child(4) {
        width: 40px;
        text-align: center;
    }

    /*Strony*/
    .portfolioNav p:nth-child(5) {
        width: 65px;
        text-align: center;
    }
    .nav.open{
        margin-top: 65px;
    }

}